

<!--  TODO


configure git
$ git config --global user.name "EricL"
$ git config --global user.email eliotta@outlook.com


Config Rubymine as the standard goto editor for GIT


This is done through the editor.

Done. Everything turned red.
09:20:26.247: git init
Initialized empty Git repository in /Users/eliotta/RubymineProjects/Probabilities/.git/

Instructions say to go to VCS - git add

Done.

Went to the 'Changes' terminal. Clicked on click to browse.


Did a commit.  File names are still red except this one.
How are things 'pushed'.



There are only two files in the Github account.


Tried again.
Went into Github.


 tet one two



   -->

<!DOCTYPE html>
<html>
<head>
  <title>  Documentation and Project Notes  </title>
</head>
<body>
</body>
</html>

